html{
    height: 100%;
    background-image: linear-gradient( to bottom, rgb(13, 18, 36) 10.9%, rgb(50, 52, 73) 87.1% );
    background-repeat: no-repeat;
}

#welcome_txt{
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
    background: -webkit-linear-gradient(#00308F, aqua);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}

#btn{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.quiz1{
margin: 50px;
display: flexbox;
}

.quiztext{
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 10px,20px;

}

#timer {
    padding: 10px,20px;
    border: 1px solid red;
    margin: 20px;
    /* display: flex; */
    /* flex-wrap: nowrap; */
    justify-content: center;
}

.tile {
    justify-content: center;
}

#container{
    color: white;
}